<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let component of components">
        <app-ionic-component-card [componentName]="component.name">
          <ng-container [ngSwitch]="component.type">
            <ion-segment *ngSwitchCase="'segment'" value="default">
              <ion-segment-button value="default">
                <ion-label>Default</ion-label>
              </ion-segment-button>
            </ion-segment>
            <ion-searchbar *ngSwitchCase="'searchbar'" placeholder="Search"></ion-searchbar>
            <ion-item *ngSwitchCase="'item'">
              <ion-label>{{ component.name }}</ion-label>
            </ion-item>
            <ion-card *ngSwitchCase="'card'">
              <ion-card-header>
                <ion-card-title>{{ component.name }}</ion-card-title>
              </ion-card-header>
            </ion-card>
            <ion-avatar *ngSwitchCase="'avatar'">
              <img src="https://tse1.explicit.bing.net/th/id/OIP.GBWUQUx938jBExN0d59O6gHaHn?rs=1&pid=ImgDetMain&o=7&rm=3" alt="avatar">
            </ion-avatar>
            <ion-thumbnail *ngSwitchCase="'thumbnail'">
              <img src="https://5arsanti.github.io/Logo-Profesional-Santiago-V3.png" alt="thumbnail">
            </ion-thumbnail>
            <ion-label *ngSwitchCase="'label'">{{ component.name }}</ion-label>
            <ion-text *ngSwitchCase="'text'" color="primary">{{ component.name }}</ion-text>
            <ion-note *ngSwitchCase="'note'">{{ component.name }}</ion-note>
            <ion-back-button *ngSwitchCase="'back-button'" defaultHref="/"></ion-back-button>
          </ng-container>
        </app-ionic-component-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
