<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let component of components">
        <app-ionic-component-card [componentName]="component.name">
          <ng-container [ngSwitch]="component.type">
            <ion-skeleton-text *ngSwitchCase="'skeleton-text'" animated style="width: 100%"></ion-skeleton-text>
            <ion-datetime *ngSwitchCase="'datetime'" presentation="date"></ion-datetime>
            <ion-fab *ngSwitchCase="'fab'" vertical="center" horizontal="center">
              <ion-fab-button>
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <ion-select *ngSwitchCase="'select'" placeholder="Select">
              <ion-select-option value="option1">Option 1</ion-select-option>
              <ion-select-option value="option2">Option 2</ion-select-option>
            </ion-select>
            <ion-breadcrumbs *ngSwitchCase="'breadcrumbs'">
              <ion-breadcrumb href="#home">Home</ion-breadcrumb>
            </ion-breadcrumbs>
            <ion-textarea *ngSwitchCase="'textarea'" placeholder="Enter text here" rows="3"></ion-textarea>
            <ion-accordion-group *ngSwitchCase="'accordion'">
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>{{ component.name }}</ion-label>
                </ion-item>
              </ion-accordion>
            </ion-accordion-group>
            <ion-tabs *ngSwitchCase="'tabs'">
              <ion-tab-bar slot="bottom">
                <ion-tab-button tab="tab1">
                  <ion-label>Tab</ion-label>
                </ion-tab-button>
              </ion-tab-bar>
            </ion-tabs>
            <ion-header *ngSwitchCase="'header'">
              <ion-toolbar>
                <ion-title>{{ component.name }}</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-footer *ngSwitchCase="'footer'">
              <ion-toolbar>
                <ion-title>{{ component.name }}</ion-title>
              </ion-toolbar>
            </ion-footer>
          </ng-container>
        </app-ionic-component-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
